{% block title %}Listado de Canciones{% endblock %}

{% block body %}
    <h2>Listado de Canciones</h2>
    <div class="canciones-list">
        {% if canciones is not empty %}
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Artista</th>
                        <th>Género</th>
                        <th>Duración</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cancion in canciones %}
                        <tr>
                            <td>{{ cancion.titulo }}</td>
                            <td>{{ cancion.autor }}</td>
                            <td>{{ cancion.genero }}</td>
                            <td>{{ cancion.duracion|date("i:s") }}</td>
                            <td>
                                <a href="{{ path('cancion_ver_cancion', {'id': cancion.id}) }}">Ver Detalles</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay canciones disponibles.</p>
        {% endif %}
    </div>
{% endblock %}
